<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="/dist/app.css">
  </head>
  <body>
      <div class="top-nav">
      <h1><a href="/">Ribbeter</a></h1>
      <ul>
        {% if currentUser %}
          <li><a href="/app">Ribbets</a></li>
          <li><a href="/users">Frogs</a></li>
          <li><a href="/logout">Logout</a></li>
        {% else %}
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
        {% endif %}

      </ul>
      </div>
    <section class="section">
    <div class="container">
      {% if old('error') %}
        <div class="alert alert--error">
          {{ old('error') }}
        </div>
      {% endif %}

         {% block content %}

        {% endblock %}

      </div>
     </section>
  </body>
</html>
