{% extends "layout" %}

{% block content %}

  <h3 class="header-users">Users</h2>
    <div class="grid">
      <div class="grid-item">
        <img src="" alt="">
        <p>Michael Cera</p>
        <p>$cera</p>
      </div>
    </div>


{% endblock %}
