$c-primary: #96ca2d;
$c-light: #b5e655;
$c-secondary: #4bb5c1;
$c-secondary-light: #7FC6BC;
$c-white: #edf7f2;
$c-pure-white: #fff;

$m-gutter: 1rem;
$m-max-width: 60rem;

$font: 'Dosis', sans-serif;


// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';

@import 'reset';





.section {
  background: rgba(147, 202, 98, 1.0);
  padding: 0 $m-gutter;
}

.container {
  max-width: $m-max-width;
  margin: 0 auto;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  color: $c-pure-white;
  padding: $m-gutter;

    ul {
      display: flex;
      margin: 0 0.5rem;

      li {
        padding-left: 0.5rem;
        font-size: 1rem;
      }
    }

}
